{% extends "layout.html" %}
 
{% block content %}
  
  <div class="page-header">
    <h1>Welcome to Twitter.js, Nimit!</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b><a href="/">Your Name</a></b><br>
      100 followers

      {% if showForm %}
        <form action="/submit" method="POST">
          <label for="name_field" style="margin-top: 10px">Name:</label>
          <input name="name" type="text" id="name_field" value="{{(input_name}}"></input>
          <label for="text_field" style="display: block">Text:</label>
          <input name="text" type="text" id="text_field" style="width: 250px; height: 100px; margin: 10px" />

          <input type="submit" value="Submit" />
        </form>
      {% endif %}

    </div>
    <div class="col-md-9">
    
      <!-- display tweets here -->
      {% for tweet in tweets %}
        <div class="tweetbox"> 
          <img>
          <ul class="list-unstyled content">
            <li class="by"><a href="/users/{{tweet.name}}">{{tweet.name}}</a>
            <li>{{tweet.text}}</li>
            <li> <a href='#'>Re-tweet</a></li>
          </ul>
        </div>
      {% endfor %}
      
    </div>
  </div>
    
{% endblock %}